<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My EasyUI Application</title>

    @Styles.Render("~/Content/easyui")

    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="easyui-layout" data-options="fit:true">
        @RenderBody()

        <hr/>

        <footer>
            <p>&copy; @DateTime.Now.Year - My EasyUI Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/easyui")

    @RenderSection("scripts", required: false)
</body>
</html>

